<div class="container-fluid">
    <div class="row">
    <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">Post a new quote</button>
  
    <form  (ngSubmit)="onSave()" *ngIf="showNew" id="quote-form">
  
      <button (click)="onCancel()" class="btn btn-danger btn-sm" id="cancel-btn">Cancel</button>
  
      <div class="form-group">
        <label for="text-input">Quote</label>
        <textarea class="form-control" [(ngModel)]="quoteModel.text" placeholder="Write your quote here" rows="6" name="text" id="text-input" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="author-input">Author</label>
        <input class="form-control" type="text" [(ngModel)]="quoteModel.author" name="author" id="author-input" placeholder="Quote Author" required>
      </div>
  
      <div class="form-group">
        <label for="submitter-input">Submitter</label>
        <input id="submitter-input" class="form-control" type="text" [(ngModel)]="quoteModel.submitter" name="submitter" placeholder="Your name" required>
      </div>
  
      <button type="submit" class="btn btn-success btn-sm">{{submitType}}</button>
    </form>
  </div>
  
  <div class="container">
  <div class="row">
    <div class="card-columns">
  
      <div class="card" *ngFor='let quote of quotes;let i = index'  >
        <div class="card-body">
          <p appHighlight >{{quote.text}} </p>
          <p>{{quote.author}}</p>
        </div>
        <div class="card-footer">
          <app-quote-details [quote]='quote'></app-quote-details>
          <button (click)="delete(i)" class="btn btn-danger btn-sm" id="delete-btn">Delete
    
          </button>
        </div>
  
        <div class="card-footer">
          <div class="row">
            <div class="col-3 action">
              {{quote.upvotes}}
            </div>
            <div class="col-3 action"> 
            <button (click)="quote.upvotes = quote.upvotes + 1" class="btn btn-success btn-sm" id="upvotes-btn">Upvote</button>
            </div>
            <div class="col-3 action">
            <button (click)="quote.downvotes = quote.downvotes + 1" class="btn btn-secondary btn-sm" id="downvotes-btn">Downvote</button>
            </div>
            <div class="col-3 action">
              {{quote.downvotes}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
