/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(/src/assets/img/bg_1.jpg);
    background-position: center;
    background-size: cover;
}

@import "~bootstrap/dist/css/bootstrap.css"

